
node_modules
test-results
playwright-report
blob-report
playwright
.cache
playwright
.auth
allure-report
allure-results 
project-presentation-pdf-friendly.md
project-presentation.md
docker-compose.yml
Dockerfile
orangehrm-playwrightjs-framework